Repository naxa-developers/tasking-manager, pull requests merged in 2023-11, with the labels that each got.

#15 fix/6121 logout from settings crash
  frontend/src/views/settings.js
Labels: Component: Frontend

#16 fix/6115 incomplete contributor list
  frontend/src/components/taskSelection/actionSidebars.js
Labels: Component: Frontend

#17 fix/6114 username tags in project qna
  frontend/src/components/projectDetail/questionsAndComments.js
Labels: Component: Frontend

#18 fix: inconsistent mapper level label on user profile page
  frontend/src/views/userDetail.js
Labels: Component: Frontend

#19 fix/6133 markdown editor glitch
  .github/labeler.yml
  frontend/src/assets/styles/_extra.scss
Labels: Component: Frontend, Component: Infrastructure

#20 fix: associated projects in teams page
  frontend/src/views/teams.js
Labels: codebase: frontend

#21 fix: team delete message for associated projects
  backend/api/teams/resources.py
  backend/services/team_service.py
Labels: codebase: backend
