Repository naxa-developers/tasking-manager, pull requests merged in 2023-10, with the labels that each got.

#4 Fix UTC to user location conversion issue in My Contributions
  frontend/src/components/statsTimestamp/index.js
  frontend/src/utils/internationalization.js
  frontend/yarn.lock
Labels: Component: Frontend, dependencies, javascript

#7 enhancement/5999 ohsomeNow stats
  frontend/src/components/homepage/styles.scss
  frontend/src/locales/en.json
  frontend/src/views/home.js
Labels: Component: Frontend, Type: Translations

#8 enhancement/5999 ohsomeNow stats
  frontend/src/locales/en.json
Labels: Component: Frontend, Type: Translations

#9 enhancement/5999 ohsomeNow stats
  frontend/src/components/homepage/messages.js
  frontend/src/components/statsTimestamp/index.js
  frontend/src/locales/en.json
  frontend/src/utils/internationalization.js
  frontend/src/views/home.js
Labels: Component: Frontend, Type: Translations

#10 Enhancement/6078 ohsome now my contributions
  frontend/src/components/statsTimestamp/messages.js
  frontend/src/components/userDetail/elementsMapped.js
  frontend/src/locales/en.json
  frontend/yarn.lock
Labels: Component: Frontend, Type: Translations, dependencies, javascript

#11 Facebook/chore/update rapid
  frontend/package.json
  frontend/patch/rapid-imagery.min.json
  frontend/src/components/rapidEditor.js
  frontend/src/components/taskSelection/action.js
  frontend/src/components/taskSelection/actionSidebars.js
  frontend/src/components/tests/rapidEditor.test.js
  frontend/src/store/reducers/editor.js
  frontend/yarn.lock
Labels: Component: Frontend, dependencies, javascript

#13 fix: unable to access draft and private projects
  frontend/src/api/projects.js
Labels: Component: Frontend

#14 fix/my tasks pagination missing
  .circleci/config.yml
  README.md
  backend/config.py
  frontend/src/components/projects/projectCardPaginator.js
  frontend/src/views/contributions.js
  scripts/aws/cloudformation/tasking-manager.template.js
Labels: Component: Frontend, Component: Infrastructure, Component: Backend
