Repository naxa-developers/tasking-manager, pull requests merged in 2024-02, with the labels that each got.

#56 fix: validation tasks api using threads
  backend/services/validator_service.py
Labels: codebase: backend

#57 check all prs
  .circleci/config.yml
  .gitignore
  docker-compose.yml
  docs/developers/development-setup.md
  docs/validation.md
  example.env
  frontend/public/index.html
  frontend/src/components/projectDetail/downloadOsmData.js
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectDetail/timeline.js
  frontend/src/components/projectStats/contributorsStats.js
  frontend/src/components/teamsAndOrgs/tasksStatsChart.js
  frontend/src/components/teamsAndOrgs/tests/tasksStats.test.js
  frontend/src/components/userDetail/headerProfile.js
  frontend/src/components/userDetail/tests/headerProfile.test.js
  frontend/src/network/tests/mockData/projects.js
  frontend/src/utils/chart.js
  frontend/src/views/tests/contributions.test.js
  frontend/src/views/tests/project.test.js
  mkdocs.yml
  scripts/aws/lambda/TM-Extractor/README.md
  scripts/aws/lambda/TM-Extractor/_envcommon/lambda.hcl
  scripts/aws/lambda/TM-Extractor/dev/env.hcl
  scripts/aws/lambda/TM-Extractor/dev/tm-extractor/terragrunt.hcl
  scripts/aws/lambda/TM-Extractor/prod/env.hcl
  scripts/aws/lambda/TM-Extractor/prod/tm-extractor/terragrunt.hcl
  scripts/aws/lambda/TM-Extractor/stag/env.hcl
  scripts/aws/lambda/TM-Extractor/stag/tm-extractor/terragrunt.hcl
  scripts/aws/lambda/TM-Extractor/terragrunt.hcl
  scripts/install/install_on_debian_10_buster.sh
  scripts/install/install_on_ubuntu_18_04.sh
Labels: codebase: frontend, infrastructure

#58 Fix/ faster load project list with no map omit
  frontend/src/components/projectDetail/downloadOsmData.js
  frontend/src/components/projects/projectNav.js
  frontend/src/hooks/UseProjectsQueryAPI.js
Labels: codebase: frontend

#59 test/osm teams
  .circleci/config.yml
  backend/__init__.py
  backend/api/system/authentication.py
  backend/api/teams/resources.py
  backend/config.py
  backend/models/dtos/team_dto.py
  backend/models/postgis/statuses.py
  backend/models/postgis/team.py
  backend/services/team_service.py
  example.env
  frontend/.env.expand
  frontend/src/components/formInputs.js
  frontend/src/components/svgIcons/index.js
  frontend/src/components/svgIcons/user-group.js
  frontend/src/components/teamsAndOrgs/management.js
  frontend/src/components/teamsAndOrgs/members.js
  frontend/src/components/teamsAndOrgs/messages.js
  frontend/src/components/teamsAndOrgs/teamSync.js
  frontend/src/components/teamsAndOrgs/teams.js
  frontend/src/components/teamsAndOrgs/tests/teams.test.js
  frontend/src/config/index.js
  frontend/src/hooks/UseOSMTeams.js
  frontend/src/network/tests/mockData/osmTeams.js
  frontend/src/network/tests/mockData/teams.js
  frontend/src/network/tests/server-handlers.js
  frontend/src/routes.js
  frontend/src/store/actions/auth.js
  frontend/src/store/reducers/auth.js
  frontend/src/utils/login.js
  frontend/src/utils/teamMembersDiff.js
  frontend/src/views/authorized.js
  frontend/src/views/messages.js
  frontend/src/views/teams.js
  frontend/src/views/tests/teams.test.js
  migrations/versions/52a67f6cef20_.py
  tests/backend/integration/api/teams/test_resources.py
Labels: codebase: frontend, codebase: backend, infrastructure

#61 feature/liveMonitoring
  frontend/src/components/footer/index.js
  frontend/src/views/projectLiveMonitoring.css
  frontend/src/views/projectLiveMonitoring.js
  frontend/yarn.lock
Labels: dependencies, javascript, codebase: frontend

#62 fix: task validation using threds
  backend/services/validator_service.py
Labels: codebase: backend
