Repository naxa-developers/tasking-manager, pull requests merged in 2024-01, with the labels that each got.

#35 feat removed points from buildings
  frontend/src/components/projectDetail/downloadOsmData.js
Labels: codebase: frontend

#37 feat padding reduced for gaps on osmdownload
  frontend/src/components/projectDetail/downloadOsmData.js
Labels: codebase: frontend

#39 Naxa/deploy/feature/live monitoring
  .circleci/config.yml
  .github/FUNDING.yml
  backend/__init__.py
  backend/api/projects/resources.py
  backend/services/project_service.py
  example.env
  frontend/src/api/projects.js
  frontend/src/components/projectDetail/index.js
  frontend/src/components/projectDetail/liveViewButton.js
  frontend/src/config/index.js
  frontend/src/views/projectLiveMonitoring.js
  tests/backend/integration/api/tasks/test_statistics.py
Labels: codebase: frontend, codebase: backend, infrastructure

#40 Feature/live monitoring
  frontend/src/views/projectLiveMonitoring.js
  frontend/yarn.lock
Labels: dependencies, javascript, codebase: frontend

#41 Feat osm download
  Makefile
  docs-old/code_of_conduct.md
  docs-old/contributing-code.md
  docs-old/contributing-translation.md
  docs-old/contributing.md
  docs/Doxyfile
  docs/LICENSE.md
  docs/about.md
  docs/code_of_conduct.md
  docs/contributing.md
  docs/developers/contributing-guidelines.md
  docs/developers/tmschema.md
  docs/developers/translations.md
  docs/developers/understanding-the-code.md
  docs/images/activity.png
  docs/images/component.png
  docs/images/conceptual.png
  docs/images/hot_logo.png
  docs/images/information_flow.png
  docs/images/logo-square.png
  docs/images/screenshot.jpg
  docs/images/solution-user.png
  docs/images/src/Makefile
  docs/images/src/Makefile~
  docs/images/src/activity.odg
  docs/images/src/component.odg
  docs/images/src/conceptual.odg
  docs/images/src/information_flow.odg
  docs/images/src/solution-user.odg
  docs/images/tm-architecture.svg
  docs/index.md
  docs/sysadmins/monitoring-logging.md
  docs/sysadmins/networking-connectivity.md
  docs/sysadmins/security-reliability-processes.md
  frontend/src/components/projectDetail/downloadOsmData.js
  mkdocs.yml
  pyproject.toml
Labels: codebase: frontend

#43 Tm/feature/live monitoring
  frontend/src/views/projectLiveMonitoring.css
  frontend/src/views/projectLiveMonitoring.js
Labels: codebase: frontend

#46 fix/6209 comment reset on mouse drag outside popup
  README.md
  docs-old/assets/TM ERD.drawio
  docs-old/assets/Tasking Manager.svg
  docs-old/assets/osm-oauth-settings.jpg
  docs-old/assets/project-view.gif
  docs-old/erd.md
  docs-old/migration.md
  docs-old/review-pr.md
  docs-old/setup-development.md
  docs-old/working-groups.md
  docs/about.md
  docs/dataflow.md
  docs/developers/code_of_conduct.md
  docs/developers/contributing.md
  docs/developers/development-setup.md
  docs/developers/error_code.md
  docs/developers/review-pr.md
  docs/developers/submit-pr.md
  docs/index.md
  docs/sysadmins/architecture.md
  docs/sysadmins/customize.md
  docs/sysadmins/migration.md
  docs/working-groups.md
  frontend/src/components/taskSelection/taskList.js
  frontend/src/hooks/UseCloseOnDocumentClick.js
  mkdocs.yml
Labels: codebase: frontend

#47 fix/6131 stats page crash for archived projects
  frontend/src/components/projectStats/contributorsStats.js
Labels: codebase: frontend

#48 fix/6166 network error on comment tag
  frontend/src/components/comments/commentInput.js
Labels: codebase: frontend

#49 feature/liveMonitoring
  frontend/src/api/projects.js
  frontend/src/config/index.js
  frontend/src/views/projectLiveMonitoring.js
Labels: codebase: frontend

#55 Feat osm download
  frontend/src/components/projectDetail/downloadOsmData.js
  frontend/src/components/projectDetail/footer.js
Labels: codebase: frontend
